<div id="notesLeftBar" ng-controller="NoteListCtrl">
    <div id="notebookSelector">
        <select class="form-control" ng-model="selectedNotebook"
                ng-options="notebook.name for notebook in notebooks track by notebook.id">
            <option value="">All Notes</option>
        </select>
    </div>
    <p/>

    <div id="noteList">
        <div class="note-summary panel panel-default {{note.id() == selectedNote.id() ? 'panel-primary' : ''}}"
             ng-repeat="note in notes" ng-click="noteSelected(note)">
            <div class="panel-heading ">
                <h3 class="panel-title">{{note.title()}}</h3>
                {{note.createdOn().calendar()}}
            </div>
            <div class="panel-body" ng-bind-html="renderHtml(note)">

            </div>
        </div>
    </div>
</div>

<div id="noteEditor" ng-controller="NoteEditCtrl" ng-show="selectedNote != null">
    <div class="panel panel-default">
        <div class="panel-heading">

            <input class="noteTitle form-control input-lg"
                   ng-readOnly="selectedNote == null"
                   ng-model="selectedNote.edit.title"
                   ng-change="noteChanged()"
                   style="border:0px; margin-bottom: 5px;"
                    />

            <div id="editorToolbar" style="width:100%" ng-show="toolbarVisible"></div>
            <div id="noteMetaData" style="width:100%" ng-show="!toolbarVisible">

            </div>

        </div>
        <div class="panel-body">
            <div id="editor" contenteditable="true">
            </div>
        </div>
    </div>


</div>


