<div id="main" class="">

    <div class="well" ng-show="selectedNote">
        <div ng-show="!editMode" ng-click="editMode=true">
            {{selectedNote.title}}
            <br/>
            <div ng-bind-html="selectedNoteRendered"></div>

        </div>

        <div ng-show="editMode">
            <input ng-model="selectedNote.title" class="form-control"></input>
            <br/>
            <textarea ng-model="selectedNote.markdown" class="form-control"
                      ng-change="noteContentsChanged()" style="height:400px">

            </textarea>
        </div>
    </div>


</div>